* {
    margin: 0;
}

body {
    width: 80%;
    margin: auto;
}

.contenedor {

    background: rgb(175, 172, 172);
    display: flex;
    justify-content: flex-start;
    color: rgb(97, 95, 95);
    gap: 10px;
    justify-content: center;
}

section {
    height: 40px;
    align-content: center;
    padding: 5px 20px;
}

.enlace2 {
    background-color: rgb(104, 100, 100);
    color: rgb(218, 218, 218);
}