/* animacion main imagenes*/

.imagen-body {
    width: 90%;
    height: auto;
    aspect-ratio: 2/1;
    /* background-attachment: fixed; */
    object-fit: contain;
    /*evita imagenes estiradas */
    /*Efecto estatico*/
}


@keyframes show {
    from {
        opacity: 0;
        scale: 25%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
}

.imagen-body {
    view-timeline-name: --imagen;
    view-timeline-axis: block;

    animation-timeline: --imagen;
    animation-name: show;

    animation-range: entry 25% cover 30%;
    animation-fill-mode: both;
}

.main article div {
    text-align: center;
}

.main progress {
    text-align: center;
}

/*fin animacion imagenes body imagenes*/



