
/*Cambia color Letra Menu*/
.grid_container .navbar .menu .entrevista a{
    color: rgb(68, 0, 255);
}


/*MAIN*/
.main {
    grid-area: main;
}

.main article h1 {
    text-align: center;
}

.main article p {
    text-align: justify;
}

.imagen-body {
    width: 60%;
    height: auto;
    aspect-ratio: 2/1;
    /* background-attachment: fixed; */
    /*Efecto estatico*/
}

/*Efecto Zoom a una imagen con HOVER*/

.imagen-body:hover{
    transform: scale(1.1);
   transition: 0.5s;
}