
/*Cambia color Letra Menu*/
.grid_container .navbar .menu .contacto a{
    color: rgb(68, 0, 255);
}

/*MAIN*/

.main {
    grid-area: main;
    background: linear-gradient(150deg, #6C3483, #58D68D);
    display: flex;
    justify-content: center;
    justify-items: center;
    
}

.main article h1 {
    text-align: center;
    /* display: flex;
    justify-content: center; */
}

/* Formulario */
form {
    padding: 50px 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    width: 40vw; /*ancho formulario*/ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

form h1 {
    color: #283629;
    font-size: 35px;
}

form label {
    color: #283629;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px;
}

form input,
textarea {

    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 10px;
    border: 2px solid #F0FAF1;
    color: black;
    /* outline: none ; */

}

.datosBasicos{
    width: 33.5vw;
}

.form-txt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin-top: 10px;
}

.form-txt a,
.tipoInteres,
.seleccion {
    color: rgb(56, 52, 52);

}

.form-txt a:hover {
    color: #2b18d4;
}

.btn {
    cursor: pointer;
    font-size: 16px;
    background-color: #b11eeb;
    color: white;
    /* box-shadow: 0 0 20px rgba(25,254, 0, 0.4); */
}

form .btn:hover {
    background-color: #2b18d4;
}

.main .form-txt .legal {
    text-align: center;
}

.seleccion {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.seleccion select {
    color: rgb(56, 52, 52);
    margin-top: 5px;
}

.input-group .cargarArchivo{
    display: flex;
    flex-direction: column;
}

.gatoComputador img{
    width: 8vw;
    height: auto;
    filter: opacity(0.3);
}

/* Fin formulario */