/*Color nombre menu*/
/* .menu .contacto a {
    color: rgb(68, 0, 255);
} */

.main {
    grid-area: main;
    background: linear-gradient(150deg, #6C3483, #58D68D);
    display: block;
    justify-content: center;
    justify-items: center;
}

/* imagen Gato */

.imagenGato {
    padding: 50px 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    text-align: center;
    width: 340px;

}

.main .imagenGato h2 {
    color: #283629;
    font-size: 35px;
}

.main .imagenGato:hover {
    /* background-color: red; */
    filter: saturate(2);
    width: 350px;
}

.main article {
    padding-top: 15vh;
    padding-bottom: 15vh;
}

/*Animacion correr*/


.correr{
    animation: movimiento 15s infinite;
    animation-delay: 0s;
    transform: translateX(33vw)translateY(20vh);
}

.sasuke{
    animation: giro 15s infinite;
    animation-delay: 0s;
}

@keyframes giro {

    0% {
        transform: rotate(0deg);
    }

    23% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(100deg);
    }

    48% {
        transform: rotate(100deg);
    }
    50% {
        transform: rotate(200deg);
    }

    73% {
        transform: rotate(200deg);
    }
    75% {
        transform: rotate(300deg);
    }

    98%{
        transform: rotate(300deg);
    }
    100%{
        transform: rotate(400deg);
    }
}



@keyframes movimiento {
    0% {
       transform:  translateX(33vw)translateY(20vh);
   }

   25% {
       transform:  translateX(-34vw)translateY(20vh);
   }

   50% {
       transform: translateX(-34vw)translateY(-100vh);
   }

   75% {
       transform: translateX(33vw)translateY(-100vh);
   }

   100%{
       transform: translateX(33vw)translateY(20vh);
   }
}

