.header {
    grid-area: header;
    display: flex;
    align-items: center;
    background-image: url("../img/banner1.jpg");
    background-position-y: center;
    background-repeat: round;
    /*Efecto estatico*/
    background-attachment: fixed;
    /*efecto ola*/
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

/* imagen logo Diego Blog */
.header img {
    width: 6em;
    height: 6em;
    margin: 5px;
    filter: drop-shadow(4px 6px 12px white);
    /* efecto sombre blanco*/
}

/* efecto sombra blanco*/
.header h1 {
    filter: drop-shadow(4px -5px 10px rgb(248, 248, 248));

}

/* Color titulo Blog */
.header b {
    color: blue;
}

/*Cambia color y tamayo nombre pagina*/
.header h1:hover {
    font-size: 2.2em;
    transition: 0.5s;

    b {
        color: red;
    }
}

/*cambia tamaño logo pagina*/
.header img:hover {
    transform: scale(1.10);
    transition: 0.5s;
    /* width: 7em;
    height: 7em; */
}


/*Efecto animacion ola*/

.header .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("../img/wave.png");
    background-size: 1000px 100px;
}

.header .wave.wave1 {

    animation: animate 30s linear infinite;
    z-index: 1;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}

@keyframes animate {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 1000px;
    }
}

.header .wave.wave2 {

    animation: animate2 15s linear infinite;
    z-index: 0.8;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}

@keyframes animate2 {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 1000px;
    }
}

.header .wave.wave3 {

    animation: animate3 30s linear infinite;
    z-index: 0.7;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
}


@keyframes animate3 {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 1000px;
    }
}

.header .wave.wave4 {

    animation: animate3 5s linear infinite;
    z-index: 0.6;
    opacity: 0.7;
    animation-delay: -2s;
    bottom: 20px;
}

@keyframes animate4 {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 1000px;
    }
}

/*fin codigo animacion ola*/