
.navbar {
    grid-area: navbar;
    background-color: #dcd0d0;
    align-content: center;
    border-bottom: 2px solid red;
    /*borde rojo panel navegacion*/
    /* display: flex;
     /* align-content: center;  */
    border-radius: 10px;
    
}

.menu {
    display: flex;
    justify-content: center;
    gap: 10px;
    justify-content: flex-end;
    /* list-style-type: none; */
}

.menu .btnM a {
    color: rgb(0, 0, 0);

}

/* menu icono hamburguesa */
.menu-icon img {
    width: 30px;
    height: 30px;
    border-radius: 2px;
}

/*Oculta el check enlazado al menu*/
.menu-icon,
#check {
    display: none;
}

.menu .btnM a{
    text-decoration: none;
}

.menu .btnM a:hover {
    /* color: rgb(210, 116, 116); */
    font-size: 1.2em;
    border-bottom: 2px solid red;
    transition: 0.2s;
}

/*Color enlace normal*/
.grid_container .btnM a{
    color: rgb(8, 0, 255);
    }
/*Color enlace cuando se esta pulsando*/    
.grid_container .btnM a:active{
    color: rgb(255, 1, 1);
    }

/*Color enlace visitado*/
.grid_container .btnM a:visited{
    color: rgb(76, 69, 69);
    }
    