*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    width: 80%;
    margin: auto;
}

header h1{
    text-align: center;
}

.grid-contenedor{
    margin-top: 10px;
    display: grid;
    grid-gap: 10px;
    /* background-color: aqua; */
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 100px 100px 100px;
   
}

.grid-contenedor section{
    background-color: rgb(83, 74, 74);
    color: white;
    padding: 10px;
    align-content: center;
    /* width: 50px;
    height: 50px; */
    border-radius: 5px;
}

.cajaA{
    grid-column: 1/3;
    grid-row: 1;
}

.cajaB{
    grid-column: 3;
    grid-row: 1 / 3;
}

.cajaC{
    grid-column: 1;
    grid-row: 2;
}

.cajaD{
    grid-column: 2;
    grid-row: 2;
}

.cajaE{
    grid-column: 4;
    grid-row: 1 / 3;
    height: 200px;
}

 /* .cajaF{
    grid-column: 1;
    grid-row: 3;
}   */