*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0px auto;
    width: 80%;
    align-items: center;
    justify-items: center;
}

.main{
    border-left: 1px solid blue;
    /* box-shadow: 0px 0px 5px grey; */
    background: linear-gradient(150deg, #ffffff, #75837b);
    width: 1200px;
    height: 550px;
}

.cuadrado{
    background-color: rgb(86, 91, 86);
    width: 100px;
    height: 100px;
}

.cuadrado1{
    /*Velocidad de Transicion*/
    /* transition: background 1s linear; */
    /*se le da el nombre de la animacion a ejecutar*/
    /* animation-duration: 2s;
    animation-name: movimiento;
    animation-timing-function: linear; */
    /*veces que se repite la animacion 1,2,infinite*/

    /* animation-iteration-count: infinite; */
    animation: estirar 15s infinite;
    animation-delay: 0s; /*retraso animacion*/
    translate: 50px 400px;
}

.cuadrado2{
    translate: 350px 300px;
    animation: estirar 15s infinite;
    animation-delay: 0s; /*retraso animacion*/
}

.circulo{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: rgb(255, 0, 0);
    /*Velocidad de Transicion*/
    /* transition: background 1s linear;  */
    translate:1095px -200px;
    /*se le da el nombre de la animacion a ejecutar*/
    animation-name:movimiento;
    animation-duration: 3s; /*duracion animacion*/
    /* animation-timing-function: linear; */
    animation-delay: 0s;  /*retraso animacion*/
    animation-iteration-count:infinite;

}


/*Al pasar el mouse en el cuadro*/
/* .cVerde:hover{
    background: green;
}

.cRosa:hover{
    background: rgb(128, 5, 124);
} */

/*Al dar Clic en el cuadro*/
/* .cVerde:active{
    background-image: url(img/zelda.gif) ;
    background-size: 200px;
}

.cRosa:active{
    background-image: url(img/gracias.png) ;
    background-size: 200px;
    background-repeat: round;
} */
/* 
@keyframes estirar{
    
    100%{
        width: 200px;
    }
    50%{
        width: 100px;
    }
    0%{
        width: 50px;
    } */
    


@keyframes movimiento {
    16%{
        transform: translateX(-300px)translateY(200px);
    }
    32%{
        transform: translateX(-300px)translateY(0px);
    }
    48%{
        transform: translateX(-500px)translateY(200px);
    }
    64%{
        transform: translateX(-500px)translateY(0px);
    }
    80%{
        transform: translateX(-700px)translateY(200px);
    }
    100%{
        transform: translateX(-750px)translateY(60px);
    }
}

/* @keyframes giro {
    
     from{
        transform: rotate(0deg);
    
    }
    to{
        transform: rotate(360deg);
        opacity: 0;
    }
} */


@keyframes estirar {
    
   to{
       height: 0;
       
   }
}
